/* General Body Styling */
body {
  font-family: Arial, sans-serif;
}

/* Center Stopwatch and Ensure Responsiveness */
.container {
  max-width: 400px;
  width: 90%;
}

.bg-black {
  text-align: center;
}

/* Buttons Styling */
button {
  width: 120px;
}
.container {
  border: 2px solid rgba(185, 182, 192, 0.653);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 50px 60px;
}

.btn:hover {
  
  box-shadow:2px 4px 4px rgba(174, 190, 189, 0.5);
}

